BasedOnStyle: LLVM
BreakBeforeBraces: Allman
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: ForIndentation
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
SortIncludes: Never
BreakBeforeTernaryOperators: true
AlignOperands: DontAlign
ContinuationIndentWidth: 4
ColumnLimit: 80
